/* .App {
  text-align: center;
} */
.watch {
  text-align: center;
}
.nav {
  background-color: black;
}
.vidcontainer {
  position: relative;
  min-height: 300px;
  overflow: hidden;
}
.video {
  width: 120%;
  height: 120%
}
.caption {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: white;
  
  
}
.captionsub {
  text-align: center;
  padding: 10px;
}
.static11 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%
}
.seeMore {
  background-color: indigo;
}
.animalname {
  text-align: center;
}
.animalImage {
  height: 200px;
  width: 400px;
}
.animalmodalhead {
  background-color: black;
}
.animalmodaldes {
  font-size: large;
  text-align: center;
  font-weight: bold;
}
.animalcard {
  margin: 50px;
}
.footer {
  background-color: black;
}
.footercont {
  background-color: red;
}